.justified-grid-container {
  direction: ltr;
  padding: 12px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.justified-grid-container .react-photo-album--rows,
.justified-grid-container .react-photo-album--track {
  direction: ltr;
}
